.logout {
    font-size: 18px;
}

.menuCard {
    background-color: lightskyblue;
    width: 100%;
    border-radius: 10px;
}

.card {
    background-color: lightskyblue;
    width: 30%;
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.menuBtn {
    width: fit-content;
    font-size: 18px;
}

button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: darkcyan !important;
    border-radius: 10px;
}

button:hover {
    opacity: 0.75;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    margin: 0 auto;
}

.type {
    font-weight: bold;
    margin-right: 20px;
}

.content {
    margin: 10px
}