<mat-card class="menuCard">
    <mat-card-content>
        <button mat-raised-button routerLinkActive="active" routerLink="/products" class="menuBtn">Products</button>
    </mat-card-content>
</mat-card>

<mat-card class="card">
    <h2 class="title">Dashboard</h2>
    <mat-card-content>
        <div>Name: {{this.name}}</div>
        <div>Username: {{this.username}}</div>
        <button mat-raised-button routerLinkActive="active" (click)="logout()" class="menuBtn">Logout</button>
    </mat-card-content>
</mat-card>