mat-form-field {
    width: 25vw;
    text-align: center;
}

.submit {
    width: fit-content;
}

.menuCard {
    background-color: lightskyblue;
    width: 100%;
    border-radius: 10px;
}

.card {
    background-color: #b8e3ff;
    width: 35%;
    margin: 0 auto;
    margin-top: 5%;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
}

.menuBtn {
    margin: 10px;
    vertical-align: top;
}

button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: darkcyan !important;
    border-radius: 10px;
    width: fit-content;
    margin-top: 10px;
}

button:hover {
    opacity: 0.75;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    margin: 0 auto;
}

mat-error {
    color: darkred;
}