.menuCard {
    width: 100%;
    border-radius: 10px;
    background-color: lightskyblue;
}

.card {
    width: 30%;
    margin: 0 auto;
    margin-top: 5%;
    align-items: center;
    background-color: lightskyblue;
    border-radius: 10px;
}

mat-form-field {
    width: 25vw;
}

.submit {
    width: 25vw;
    font-size: 18px;
    margin-top: 15px;
}

.menu {
    width: 15%;
    font-size: 18px;
}

button {
    font-family: 'Times New Roman', Times, serif;
    background-color: darkcyan !important;
    border-radius: 10px;
}

button:hover {
    opacity: 0.75;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    text-align: center;
}

.loginTitle {
    text-align: center;
}

mat-error {
    color: darkred;
}