.card {
    width: 30%;
    margin: 0 auto;
    margin-top: 5%;
    align-items: center;
    background-color: lightskyblue;
    border-radius: 20px;
}

mat-form-field {
    width: 25vw;
}

.submit {
    width: 25vw;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.reg {
    width: 25vw;
    margin-top: 10px;
    --mdc-protected-button-container-color: rgb(73, 73, 73);
    --mdc-protected-button-label-text-color: rgb(255, 255, 255);
    font-size: 18px;
}

button {
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    background-color: darkcyan !important;
}

button:hover {
    opacity: 0.75 !important;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
    text-align: center;
}

.loginTitle {
    text-align: center;
}

#wrongDatas {
    margin-bottom: 5px;
    color: darkred;

}